{% extends 'student/base/base.html' %}

{% block title %}Home{% endblock title %}
{% block nav_title %} Exams {% endblock nav_title %}
{% block url %}{% url 'student:index' %}{% endblock url %}
{% block action %}Home{% endblock action %}

{% block body %}
   <div class="container-fluid my-2" style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start">
        <div id="completed_exams" class="alert alert-primary" style="width: 40%; margin-right: 20px;">
            <h3 align="center" style="color: black">Completed Assessments</h3>
            <ol class="list-group">
                {% for i in paper %}
                {% if  i.completed == 1 %}
                <li class="list-group-item list-group-item-action my-1 text-center">{{ i.examname }}</li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div id="upcoming_exams" class="my-6 alert alert-secondary" style="width: 40%">
            <h3 align="center" >Upcoming Assessments</h3>
            <ol class="list-group">
                {% for i in paper %}
                {% if  i.completed == 0 %}
                    <li class="list-group-item list-group-item-action my-1 text-center">{{ i.examname }}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ i.examname }}" name="paper">
                            <input class="btn btn-info" type="submit" value="Attempt">
                        </form>
                    </li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock body %}
